div.left.tabs-cont
  a.tabs(href="/#", data-tab="")
    div
      h3 Portfolios
  a.tabs(href="/#contact", data-tab="contact")
    div
      h3 Contact
  a.tabs(href="/CV.pdf" data-tab="more")
    div
      h3 CV
div.center
div.right.footertxt
  span Welcome. I'm Loïs, a software engineer and web developer in training based in Paris, France. This is a personal portal website where I share information about me and links to my various pages online.